.formulario {
    background-color:rgb(198, 212, 228);
    margin:35px;
    width: 90%;
    height:90%;
    align-items: center;
    color:#000000;
    flex-wrap: wrap;
    text-align:justify;
    border-radius: 10px;
    overflow: hidden;
    font-size:15px;
    padding: 40px 35px;
}

.col-25 {
    font-size: 25px;
    flex-basis: 25%;
}

.col-75 {
    flex-basis: 75%;
}

.col-25, .col-75 {
    padding: 20px;
    box-sizing: border-box;
    text-align: left;
}

button, [type=submit] {
    background-color: #4CAF58;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
}
button > main, [type=submit]:hover {
    background-color: #45a049;
}

input, [type=email], [type=text], textarea {
    width: 100%;
    padding: 12px;
    border:1px solid #cccccccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize:both;
    text-align: justify;
    font-size: 17px;
}