main {
    width: 80%;
    margin: auto;
}

img {
    width: 100%;
    border-radius: 2rem;
}

.codigotexto-container{
    margin-top: 1rem;
}

.codigotexto-container p {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

@media (max-width: 768px) {
    main {width: 100%;}
}