* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    color: #1f272c;
}

header {
    background-color: #1f272c;
    color: #fff;
    padding: 20px;
    margin-bottom: 20px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;

}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 10px;
}

footer {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black
}