/**------------- CONFIGURAÇÕES GLOBAIS ------------- **/
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,400;0,600;0,700;0,900;1,300;1,400;1,600;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
main{
    padding: 2rem;
}
body {
    font-family: 'Titillium Web', sans-serif;
    background-color: #f0f8ff;
    color: #1f272c;
    min-height: 100vh;
}
/**------------- CONFIGURAÇÕES GLOBAIS - FIM ------------- **/

/**------------- MENU E SEUS FILHOS ------------- **/
header {
    background: linear-gradient(45deg, #3E4F59, #1F272C);
    color: #f0f8ff;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 334px;
}

.logo-link{text-decoration: none; display: block;}
.logo {
    display: flex; 
    align-items: center;
    justify-content: center;
    margin: 1rem;
}.logo > div{margin-right: 1rem;}

nav{
    display: inline;
    width: calc(100% - 4rem - 285.531px);
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

nav ul li a {
    color:#f0f8ff;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    border-radius: 5px;
    transition: all 150ms ease-in-out;
}nav ul li a:hover{font-size:larger; text-decoration: underline;}
/**------------- MENU E SEUS FILHOS - FIM ------------- **/

/**------------- FOOTER E SEUS FILHOS ------------- **/
footer {
    text-align: center;
    border-top:1px solid #bbb;
    margin: 2rem 5rem 0 5rem;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #999;

}footer > div > a{color: #999;}
/**------------- FOOTER E SEUS FILHOS - FIM ------------- **/



@media (max-width: 768px) {
    header {
        display: block;
        padding: 1rem;
    }

    nav ul li a {
        font-size:medium;
    }

    main {padding: 1rem;}
}