/**Index e Portifolio**/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #1f272c;
}

body{
    background-color: #f0f8ff;
}

header {
    background-color: #1f272c;
    color: #fff;
    padding: 20px;
    margin-bottom: 20px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
    
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 10px;
}

.imagem {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}

.imagem img {
    width: 540px;
    height: 310px;

}

footer {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:black

}

/**Quem Somos**/

#integrantes {
    width: 80%;
    min-width: 800px;
}

.desenvolvedor{
    width: 300px;
    margin: 30px 10px;
    padding: 1rem;
    border-radius: 2rem;
    background-color: #6a9cc8;
    color: #fff;
}

.imagens{
    width: 200px;
    height: 200px;
    border: 0px solid  #929394;
    border-radius: 200px;
    margin: auto;
    background-position: center; 
    background-size: 100%;
}

/**Formulario**/

.formulario{
    background-color:rgb(198, 212, 228);
    margin:35px;
    width: 90%;
    height:90%; 
    align-items: center;
    color:#000000;
    flex-wrap: wrap;
    text-align:justify;
    border-radius: 10px;
    overflow: hidden;
    font-size:15px;
    padding-left:35px;
    padding-right:35px;
    padding-top:40px;
    padding-bottom:40px;
}
.col-25{
    font-size: 25px;
    flex-basis: 25%;
}
.col-75{
    flex-basis: 75%;
}
.col-25, .col-75 {
    padding: 20px;
    box-sizing: border-box;
    text-align: left;
}
button, [type=submit]{
    background-color: #4CAF58;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
}
button > main, [type=submit]:hover{
    background-color: #45a049;
}
input, [type=email], [type=text], textarea {
    width: 100%;
    padding: 12px;
    border:1px solid #cccccccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize:both;
    text-align: justify;
    font-size: 17px;
}


body {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .items {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
  }
  
  .items .item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    overflow: hidden;
    transition: all 300ms ease-in-out;
    z-index: -1;
    opacity: 0;
  }
  
  .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .item.active {
    opacity: 1;
    z-index: 99;
    box-shadow: 0px 0px 105px -35px rgba(0, 0, 0, 0.75);
  }
  
  .item.prev {
    z-index: 2;
    opacity: 0.25;
    transform: translate(-125%, -50%);
  }
  
  .item.next {
    z-index: 2;
    opacity: 0.25;
    transform: translate(25%, -50%);
  }
  
  .items .button-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 275px;
    z-index: 100;
  }
  
  .button-container .button {
    color: #fff;
    font-size: 32px;
    cursor: pointer;
    position: relative;
    opacity: 0.75;
    transition: all 300ms ease-in-out;
  }
  
  .button-container .button:hover {
    opacity: 1;
  }
  
  .button-container .button:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 1);
    border-radius: 50%;
    z-index: -99;
  }
  
  .button-container .button:nth-child(1) {
    float: left;
  }
  
  .button-container .button:nth-child(2) {
    float: right;
  }